body {
	padding: 5px;
}
#menu li {
	padding-right: 10px;
	float: left;
	list-style-type:none;
}
#menu {
	padding: 0 0 10px 0;
	margin: 0px;
	clear: both;
}

.description {
	margin-bottom: 10px;
	font-size: 12px;
	font-style:italic;
}